/* *********************************************************************************************

How to Create CSS3 + jQuery Accordion Menu [Tutorial]
"How to Create CSS3 + jQuery Accordion Menu" that was specially made for DesignModo by our friend Valeriu Timbuc. 

Links:
http://vtimbuc.net/
https://twitter.com/vtimbuc
http://designmodo.com/futurico
http://vladimirkudinov.com
http://rockablethemes.com

********************************************************************************************* */

/* Reset */

.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.accordion li {
	list-style: none;
}

/* Layout & Style */

.accordion li > a {
	display: block;
	position: relative;
	min-width: 110px;
	padding: 0 10px 0 40px;
	height: 32px;

	color: #fdfdfd;
	font: bold 12px/32px Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);

	background:rgb(1,121,190);
    background: -moz-linear-gradient(top,  rgb(1,121,190) 0%, rgb(1,121,190) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(1,121,190)), color-stop(100%,#8A0808));
	background: -webkit-linear-gradient(top,  rgb(1,121,190) 0%,rgb(1,121,190) 100%);
	background: -o-linear-gradient(top,  rgb(1,121,190) 0%,rgb(1,121,190) 100%);
	background: -ms-linear-gradient(top,  rgb(1,121,190) 0%,rgb(1,121,190) 100%);
	background: linear-gradient(top,  rgb(1,121,190) 0%,rgb(1,121,190) 100%);
}

/* Sub Menu 
-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
*/

.sub-menu li a 
{
	/*color:white*/
	color:black;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);
	/*background: black;*/
	background: white;
	/*border-bottom: 1px solid rgb(255,197,12);*/
	border-bottom: 1px solid rgb(1,121,190);
	height: 32px;
	font: bold 12px/32px Arial, sans-serif;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	
}


.sub-menu li:hover a 
{
	/*color: rgb(255,197,12);*/
	color:rgb(1,121,190);
}

.sub-menu li:last-child a { border: none; }

